{% extends 'base.html' %}
{% load user_tags %}

{% block extra_navbar_components %}
    {% if user|has_group:'manager' %}
        <div class="text-end">
            <a href="{% url 'product:product_create' %}" class="btn btn-light text-dark me-2">Add product</a>
        </div>
        <div class="text-end">
            <a href="{% url 'product:category_create' %}" class="btn btn-light text-dark me-2">Add product category</a>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        <form action="{% url 'product:category_create' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}