{% extends 'base.html' %}
{% load user_tags %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block extra_navbar_components %}
    {% if user|has_group:"manager" %}
        <div class="text-end">
            <a href="{% url 'product:product_create' %}" class="btn btn-light text-dark me-2">Add product</a>
        </div>
        <div class="text-end">
            <a href="{% url 'product:category_create' %}" class="btn btn-light text-dark me-2">Add product category</a>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="page-content page-container" id="page-content">
        <div class="d-flex justify-content-center align-items-center">
            <div class="row container d-flex justify-content-center">
                <div class="col-xl-6 col-md-12">
                    <div class="card user-card-full">
                        <div class="row m-l-0 m-r-0">
                            <div class="p-3">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Bot name</p>
                                        <h6 class="text-muted f-w-400">
                                            {{ product.name }}
                                        </h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Bot username</p>
                                        <h6 class="text-muted f-w-400">
                                            {{ product.username }}
                                        </h6>
                                    </div>
                                    <p class="m-b-10 f-w-600">Bot token</p>
                                    <h6 class="text-muted f-w-400">
                                        {{ product.token }}
                                    </h6>
                                </div>
                            </div>
                            <div class="p-3">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Operation</h6>
                                <div class="d-flex justify-content-around">
                                    <div>
                                        <a href="{% url 'product:product_update' product.pk %}"
                                           class="m-b-10 f-w-600">Update</a>
                                    </div>
                                    <div>
                                        <a href="{% url 'product:product_delete' product.pk %}"
                                           class="m-b-10 f-w-600">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}