{% extends 'base.html' %}
{% load user_tags %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block extra_navbar_components %}
    <div class="text-end">
        {% if user|has_group:"manager" %}
            <a href="{% url 'user:tg_users_create' %}" class="btn btn-light text-dark me-2">Add telegram user</a>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    {% for tg_user in object_list %}
        <div class="page-content page-container" id="page-content">
            <div class="d-flex justify-content-center align-items-center">
                <div class="row container d-flex justify-content-center">
                    <div class="col-xl-6 col-md-12">
                        <div class="card user-card-full">
                            <div class="row m-l-0 m-r-0">
                                <div class="col-sm-4 bg-c-lite-green user-profile d-flex justify-content-center flex-column">
                                    <div class="card-block text-center text-white">
                                        <h6 class="f-w-600">{{ tg_user.first_name }} {{ tg_user.last_name }}</h6>
                                        <p>
                                            {% if tg_user.username %}
                                                @{{ tg_user.username }}
                                            {% else %}
                                                Empty
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="card-block">
                                        <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p class="m-b-10 f-w-600">Telegram ID</p>
                                                <h6 class="text-muted f-w-400">
                                                    {% if tg_user.telegram_id %}
                                                        {{ tg_user.telegram_id }}
                                                    {% else %}
                                                        Empty
                                                    {% endif %}
                                                </h6>
                                            </div>
                                            <div class="col-sm-6">
                                                <p class="m-b-10 f-w-600">Lang</p>
                                                <h6 class="text-muted f-w-400">
                                                    {% if tg_user.lang %}
                                                        {{ tg_user.lang }}
                                                    {% else %}
                                                        Empty
                                                    {% endif %}
                                                </h6>
                                            </div>
                                            <div class="col-sm-6">
                                                <p class="m-b-10 f-w-600">Data create</p>
                                                <h6 class="text-muted f-w-400">
                                                    {{ tg_user.date_created }}
                                                </h6>
                                            </div>
                                            <div class="col-sm-6">
                                                <p class="m-b-10 f-w-600">Data update</p>
                                                <h6 class="text-muted f-w-400">
                                                    {{ tg_user.date_updated }}
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                    {% if user|has_group:"manager" %}
                                        <div class="card-block">
                                            <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Operation</h6>
                                            <div class="d-flex justify-content-around">
                                                <div>
                                                    <a href="{% url 'user:tg_users_detail' tg_user.pk %}"
                                                       class="m-b-10 f-w-600">Detail</a>
                                                </div>
                                                <div>
                                                    <a href="{% url 'user:tg_users_update' tg_user.pk %}"
                                                       class="m-b-10 f-w-600">Update</a>
                                                </div>
                                                <div>
                                                    <a href="{% url 'user:tg_users_delete' tg_user.pk %}"
                                                       class="m-b-10 f-w-600">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if is_paginated %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
                {% for page in paginator.page_range %}
                    <li class="page-item"><a class="page-link" href="{% url 'user:tg_users_paginator' page %}">{{ page }}</a></li>
                {% endfor %}
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    {% endif %}
{% endblock content %}
