{% extends 'base.html' %}
{% load user_tags %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block extra_navbar_components %}
    {% if user|has_group:"manager" %}
        <div class="text-end">
            <a href="{% url 'user:tg_users_create' %}" class="btn btn-light text-dark me-2">Add telegram user</a>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>Confirm Delete</h1>
    <p>Are you sure you want to delete "{{ object.pk }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Delete</button>
        <a href="{% url 'user:tg_users' %}" class="btn btn-danger">Cancel</a>
    </form>
{% endblock content %}
