{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}

{% block stylesheets %}
	<link href="{% static 'css/auth.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% if messages or form.non_field_errors %}
        <div class="alert {% if messages %} alert-success {% else %} alert-warning {% endif %}  alert-dismissible fade show"
             role="alert"
             style="margin-top: 50px;">
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% else %}
                {{ form.non_field_errors }}
            {% endif %}
        </div>
    {% endif %}
    <form method="post" action="{% url 'user:login' %}">
        {% csrf_token %}
        <img class="mb-4" src="{% static 'img/bootstrap-logo.svg' %}" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating mb-1">
            {{ form.username }}
            <label for="{{ form.username.id_for_label }}">Username</label>
        </div>
        <div class="form-floating">
            {{ form.password }}
            <label for="{{ form.password.id_for_label }}">Password</label>
        </div>

        <div class="checkbox mb-3">
            <a href="{% url 'user:register' %}" class="w-100 btn btn-lg btn-primary">Sign up</a>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
{% endblock %}